@syncobox:registry=https://pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/:username=webimrd
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/:_password=Z3B1ZHRnajV4anhzejc3bmZrd3Vrc2Y1YmplNmd5b3lnYTVhbWt5Zm9qeGxqNHI0aXdtYQ==
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/:username=webimrd
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/:_password=Z3B1ZHRnajV4anhzejc3bmZrd3Vrc2Y1YmplNmd5b3lnYTVhbWt5Zm9qeGxqNHI0aXdtYQ==
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/:email=npm requires email to be set but doesn't use the value
; end auth token